<a href="https://colab.research.google.com/github/suryanshu07/SG07/blob/master/NLP_Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

Data Input

In [18]:
dataset = pd.read_csv("/content/Restaurant_Reviews.tsv", delimiter = '\t', quoting = 3)

In [19]:
dataset.tail()

                                                Review  Liked
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

Data Cleaning

In [14]:
dataset['Review'][0]

'Wow... Loved this place.'

In [15]:
review = re.sub('[^a-zA-Z]', " ", dataset['Review'][0])

In [17]:
review

'Wow    Loved this place '